import K{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'K{{properCase name}}',
  component: K{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { K{{properCase name}} },
  template: `
    <div>
      <k-{{name}}></k-{{name}}>
    </div>
  `
})